[submodule "bank-gateway-api"]
	path = bank-gateway-api
	url = https://github.com/DarkLordikss/bank-gateway-api
[submodule "Internet-Bank-Client"]
	path = Internet-Bank-Client
	url = https://github.com/VictoriasCloud/Internet-Bank-Client
[submodule "user-microservice-rust"]
	path = user-microservice-rust
	url = https://github.com/L11D/user-microservice-rust.git
