[submodule "bank-gateway-api"]
	path = bank-gateway-api
	url = git@github.com:DarkLordikss/bank-gateway-api.git
[submodule "Internet-Bank-Client"]
	path = Internet-Bank-Client
	url = git@github.com:VictoriasCloud/Internet-Bank-Client.git
[submodule "user-microservice-rust"]
	path = user-microservice-rust
	url = git@github.com:L11D/user-microservice-rust.git
[submodule "account-microservice"]
	path = account-microservice
	url = git@github.com:L11D/account-microservice.git
